.blog-preview {
  transition: all 0.35s ease;
  box-sizing: border-box;
  border: 1px solid transparent; // Overwrite on hover

  img {
    width: 100%;

    @include media-breakpoint-up(md) {
      height: 209px;
      object-fit: cover;
      object-position: left;
    }
  }

  &--full-img img {
    @include media-breakpoint-up(md) {
      height: 311px;
    }
  }

  &:hover {
    background-color: rgba($primary, 0.05);
    @extend .rounded;
    border-color: rgba($dark, 0.05);
  }

  .blog-preview__inner {
    transition: all .6s cubic-bezier(0.18, 0.89, 0.32, 1.28);

    &:hover {
      transform: scale(0.97);
    }
  }

  &__title {
    @include media-breakpoint-up(md) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
