.code-demo-preview {
  .icon {
    font-size: 3em;
    color: $primary;
    margin-bottom: 25px;
  }

  .title {
    margin-bottom: 10px;
  }

  .description {
    margin-top: 0;
    font-style: italic;
  }

  .container {
    padding: 30px;
  }

  .demo-container {
    margin-bottom: 15px;

    .card {
      border: 1px solid rgba($dark, 0.15);

      .body {
        padding: 20px;

        .desc {
          margin-bottom: 0;
        }
      }
    }
  }

  .view-all {
    color: $dark;
    font-size: 18px;
  }
}
