footer.footer {
  padding-top: 12rem;
  background: linear-gradient(180deg, $light 15%, $gray-400 30%);

  @include media-breakpoint-down(xl) {
    padding-top: 4rem;
  }

  .bg-circle--bottom-left {
    bottom: -333px;
    border-color: rgba($white, 0.25);
  }
}
