.hero {
  background: linear-gradient(180deg, rgba($primary, 0.3) 35%, $light 100%);
  padding-top: 15em;
  padding-bottom: 5em;

  &.bubble-header .bubble {
    width: 0;
    height: 0;
    opacity: 0.15;
    position: absolute;
    bottom: -20px;
    border: solid 4px;
    border-radius: 50%;
  }
}
