/* stylelint-disable */
/* Default styles for pagination and general toggling */
.toggle-more {
  svg {
    font-size: 3em;
    color: $primary;
    transform: translateY(0);
    transition: all 1s ease;
    cursor: pointer;

    &:hover {
      transform: translateY(3px);
    }
  }
}

.single-icon-container svg {
  font-size: 2em;
  margin-right: 12px;
  color: $primary;
}

.slider-toggle-arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;

  .toggle {
    margin: 0 35px;
    cursor: pointer;
    transition: all 0.35s ease;

    &:hover {
      color: $primary;
    }

    svg {
      font-size: 3em;
    }
  }
}
