.primary-navigation {
  position: fixed;
  z-index: 10;
  width: 100%;
  transition: all 0.15s ease;

  &:not(.active) {
    @include media-breakpoint-down(sm) {
      transform: translateX(100vh);
    }
  }

  &.active {
    @include media-breakpoint-down(sm) {
      background-color: $light;
      transform: translateX(0);
    }
  }

  &__logo {
    color: $white;
    font-size: 2em;

    @include media-breakpoint-down(sm) {
      color: $dark;
      font-size: 3em;
    }
  }

  &__link {
    color: $white;

    @include media-breakpoint-down(sm) {
      color: $dark;
    }

    &:hover {
      @extend .text-secondary;
    }

    &.active {
      @extend .text-dark;
      pointer-events: none;
    }
  }

  /* Transparent dark state */
  &.header-dark:not(.scrolled) {
    @include media-breakpoint-up(sm) {
      background: transparent;
    }

    .primary-navigation__logo,
    .primary-navigation__link {
      @extend .text-dark;

      &.active {
        @extend .text-secondary;
      }
    }
  }

  /* Scrolled state */
  &.scrolled {
    background-color: $light;
    border-bottom: 1px solid $gray-600;
    min-width: 100%;
    transition: all 0.15s ease;

    .primary-navigation__link,
    .primary-navigation__logo {
      @extend .text-dark;

      &:hover {
        @extend .text-primary;
      }

      &.active {
        @extend .text-secondary;
      }
    }
  }
}

/* Toggle container */
.navbar-toggle-container {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  width: 50px;
  height: 50px;

  @include media-breakpoint-up(sm) {
    display: none;
  }
}
