.related-posts {
  @include media-breakpoint-up(sm) {
    background-color: rgba($secondary, 0.35);
    padding: 25px;
  }

  .header-container {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 10px;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }

    .title {
      margin: 0 30px 0 0;
    }

    .slider-toggle-arrows {
      margin: 0;

      .previous {
        @include media-breakpoint-down(sm) {
          margin-left: 0;
        }
      }
    }
  }

  .posts-container .col:nth-child(odd) {
    margin-right: 20px;
  }
}
