.search-bar {
  &__results {
    @extend .mt-2;
    position: absolute;
    z-index: 3;
    width: 100%;
    transition: all 0.2s ease;
  }

  &__loader {
    z-index: 5;
    background-color: rgba($light, 0.75);
    pointer-events: none;
    @extend .rounded;

    &__icon {
      
    }
  }

  &__list li {
    transition: all 0.1s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    @extend .px-4;
    @extend .py-2;

    &:first-child {
      @extend .pt-3;
    }

    &:last-child {
      @extend .pb-3;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $gray-400;
    }

    &:hover {
      background-color: $gray-400;
    }
  }
}