/* Colors */
.blue {
  color: $primary;
}

.faded-blue {
  color: $primary;
}

.black {
  color: $dark;
}

.white {
  color: $light;
}

.yellow {
  color: $yellow;
}

/* Weights */
.bold {
  font-weight: 700;
  letter-spacing: 2px;
}

.light {
  font-weight: 300;
}
