.archive-category-list {
  @include mb-custom($spacer-medium, $spacer-tiny);

  .archive-categories {
    display: flex;
    flex-wrap: wrap;

    @include mt-custom(30px, 20px);
    @include border-bottom($dark);

    .single-category {
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid rgba($light, 0.25);
      transition: all 0.5s ease;

      @include atTablet {
        border: 1px solid rgba($light, 0.25);
      }

      .all-categories {
        border-right: 1px solid $secondary;
        padding-right: 15px;
      }

      a {
        color: $dark;
        text-align: center;
        margin: 5px 15px 5px 0;
        transition: all 0.35s ease;
        display: flex;
        align-items: center;

        &:hover {
          color: $primary;
        }

        .badge {
          display: inline;
          margin-left: 3.5px;
          padding: 0 7.5px;
        }

        &.active {
          background-color: $primary;
          padding: 3px 10px;
          color: white;
          border-radius: 3px;
          pointer-events: none;
          cursor: inherit;

          .badge {
            background-color: white;
          }
        }
      }
    }
  }
}
