.categories {
  a {
    text-decoration: none;

    @include media-breakpoint-up(sm) {
      padding-right: 5px;
    }

    &::after {
      content: "-";
      color: $dark;

      @include media-breakpoint-up(sm) {
        margin-left: 5px;
      }
    }

    &:last-child::after {
      display: none;
    }
  }
}
