.entry-meta {
  @import "meta-col";
  @import "categories";

  display: flex;
  flex-direction: column;
  margin-bottom: 12.5px;
  border-bottom: 1px solid $dark;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  .categories,
  time {
    @include media-breakpoint-down(lg) {
      font-size: 0.9em;
    }
  }

  .post-technologies {
    margin-left: 25px;

    @include media-breakpoint-down(md) {
      margin: 15px 0 5px 0;
    }

    svg {
      font-size: 1.25em;
      margin: 0 3.5px;
    }
  }
}
