/* Class Helpers */

.flex-center {
  @extend .d-flex;
  @extend .flex-column;
  @extend .align-items-center;
  @extend .justify-content-center;
}

// General Helpers
.absolute-fill {
  @extend %absolute-fill;
}

// Extra bg classes
.bg-gray-900 {
  background-color: $gray-900;
}

.bg-gray-400 {
  background-color: $gray-400;
}

.bg-gray-200 {
  background-color: $gray-200;
}

.bg-gray-100 {
  background-color: $gray-100;
}

.text-dark-50 {
  color: rgba($dark, 0.5);
}

.text-dark-75 {
  color: rgba($dark, 0.75);
}

// Extra FS classes
.fs-sm {
  font-size: $font-size-sm;
}

.fs-xs {
  font-size: $font-size-xs;
}

/* Helpers that can be applied to gutenberg editor */

// Used on a column to make buttons sit next to each other on desktop and stack with full width on mobile
.flex-buttons {
  .btn:first-child {
    @extend .me-0;
    @extend .me-md-3;
    @extend .mb-3;
    @extend .mb-md-0;
  }

  .btn {
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
}

