.comment-list {
  padding: 0;

  .comment {
    @import "comment-meta";

    padding: 0;
    border-left: 3px solid $primary;

    .comment-respond {
      padding: 0 15px;
    }

    &.depth-1 {
      margin: 25px 0;
    }

    &::before {
      display: none;
    }

    .comment-body {
      padding: 30px 20px;
      background-color: rgba($secondary, 0.5);
    }

    .comment-content {
      margin-top: 10px;

      p {
        line-height: 1.25;
        font-size: 18px;

        @include media-breakpoint-down(sm) {
          font-size: 15px;
        }
      }
    }

    .reply a {
      color: $primary;
      font-size: 15px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 600;
    }
  }
}
