/* HOME page specific overrides for the related posts component */

.blog-posts-container {
  .related-posts {
    padding: $spacer-small 0;
    background-color: transparent;

    .container {
      width: 100%;
    }

    a,
    .title {
      color: $primary;
    }
  }
}
