.single-demos {
  .inline-icon-container {
    @extend %inline-icons;
  }

  .demo-content {
    @include media-breakpoint-up(sm) {
      max-width: 75%;
    }
  }
}

.template-demos {
  .demo-count {
    margin-left: 1%;
    width: 100%;
    margin-top: 0;
    font-weight: bold;
  }

  .card {
    &.col {
      margin-bottom: 25px;
    }

    .desc {
      @extend %text-small;
    }

    .inline-icon-container {
      @extend %inline-icons;
    }
  }
}
