.entry-meta {
  display: flex;
  flex-direction: column;
  margin-bottom: 12.5px;
  border-bottom: 1px solid $dark;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  .categories,
  time {
    @include media-breakpoint-down(lg) {
      font-size: 0.9em;
    }
  }

  .post-technologies {
    margin-left: 25px;

    @include media-breakpoint-down(md) {
      margin: 15px 0 5px 0;
    }

    svg {
      font-size: 1.25em;
      margin: 0 3.5px;
    }
  }

  /* Meta col */
  .meta-col {
    margin-top: 12.5px;
    display: flex;
    align-items: center;
  
    @include media-breakpoint-down(lg) {
      margin-top: 5px;
    }
  
    @include media-breakpoint-down(sm) {
      padding: 0;
      border: none;
    }
  
    .icon-container {
      width: 30px;
      margin-right: 7.5px;
  
      svg {
        @include media-breakpoint-down(lg) {
          font-size: 1em;
        }
      }
    }
  
    &.meta-time {
      @include media-breakpoint-down(md) {
        flex-direction: column;
        align-items: flex-start;
      }
  
      .time-container {
        display: flex;
      }
    }
  }

  /* Categories */
  .categories {
    a {
      text-decoration: none;
  
      @include media-breakpoint-up(sm) {
        padding-right: 5px;
      }
  
      &::after {
        content: "-";
        color: $dark;
  
        @include media-breakpoint-up(sm) {
          margin-left: 5px;
        }
      }
  
      &:last-child::after {
        display: none;
      }
    }
  }
}
