#all-projects {
  .project {
    min-height: 100vh;

    // Account for header spacing
    &:first-of-type {
      padding-top: 10rem !important;
    }

    &.light {
      .project__icon,
      .project__title,
      .project__goals,
      .project__goals__header {
        color: $light;
      }

      .project__content {
        p {
          color: $light;
        }

        @include allHeaders {
          color: $light;
        }
      }
    }

    &__right--container {
    }

    &__content {
      overflow-x: scroll;

      @include scrollbar($secondary, 12px);
    }

    &__external-link {
      @extend %absolute-fill;
      @extend .d-flex;
      @extend .justify-content-center;
      @extend .align-items-center;
    }
  }
}