.bg-circle {
  position: absolute;
  border-radius: 100%;
  height: 300px;
  width: 300px;
  border: 8px solid transparent;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s ease;

  // Color
  &--primary {
    border-color: rgba($primary, 0.05);
  }

  &--secondary {
    border-color: rgba($secondary, 0.05);
  }

  &--white {
    border-color: rgba($white, 0.5);
  }

  // Thickness
  &--thick {
    border-width: 12px;
  }

  &--thin {
    border-width: 4px;
  }

  // Size
  &--large {
    height: 600px;
    width: 600px;
  }

  &--small {
    height: 200px;
    width: 200px;
  }

  // Fills
  &--fill-white {
    background-color: $white;
  }

  &--fill-secondary {
    background-color: $secondary;
  }

  // Position
  &--top-left {
    top: -85px;
    left: -60px;
  }

  &--bottom-left {
    bottom: -85px;
    left: -60px;
  }

  &--top-right {
    top: -85px;
    right: 60px;
  }

  &--bottom-right {
    bottom: -85px;
    right: 60px;
  }
}