.bg-circle {
  position: absolute;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  border: 8px solid rgba($primary, 0.05);
  pointer-events: none;

  // Color
  &--secondary {
    border-color: rgba($secondary, 0.05);
  }

  &--white {
    border-color: rgba($white, 0.5);
  }

  // Thickness

  &--thick {
    border-width: 12px;
  }

  &--thin {
    border-width: 4px;
  }

  // Size
  &--large {
    height: 600px;
    width: 600px;
  }

  &--small {
    height: 200px;
    width: 200px;
  }

  // Fills
  &--fill-white {
    background-color: $white;
  }

  &--fill-secondary {
    background-color: $secondary;
  }

  // Opacity
  &--opacity-low {
    opacity: 0.10;
  }

  &--opacity-quarter {
    opacity: 0.25;
  }

  &--opacity-half {
    opacity: 0.5;
  }

  &--opacity-three-fourths {
    opacity: 0.75;
  }

  // Position
  &--top-left {
    top: -85px;
    left: -60px;
  }

  &--bottom-left {
    bottom: -85px;
    left: -60px;
  }

  &--top-right {
    top: -85px;
    right: 60px;
  }

  &--bottom-right {
    bottom: -85px;
    right: 60px;
  }
}