.btn {
  border: 0;
  color: $light;
  font-weight: 700;

  &:hover {
    color: $light;
  }

  &.btn-secondary {
    background: linear-gradient(60deg, $secondary 15%, lighten($secondary, 10%));
  }

  &.btn-lg {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}