.btn {
  &.icon {
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;

    &.rotate:hover svg {
      transform: rotate(90deg);
    }

    &.rotate svg {
      margin-top: 2px;
      transition: all 0.25s ease;
    }
  }

  &.btn-primary {
    @include button-variant(
      $background: $primary,
      $border: $primary,
      $color: $white,
      $hover-background: lighten($primary, 2.5%),
      $hover-border: $white,
      $hover-color: $light
    );
  }

  &.btn-secondary {
    @include button-variant(
      $background: $secondary,
      $border: $secondary,
      $color: $white,
      $hover-background: lighten($secondary, 2.5%),
      $hover-border: $white,
      $hover-color: $light
    );
  }

  &.btn-info {
    @include button-variant(
      $background: $info,
      $border: $info,
      $color: $white,
      $hover-background: lighten($info, 2.5%),
      $hover-border: $white,
      $hover-color: $light
    );
  }
}