.btn {

  &.icon {
    display: flex;
    justify-content: center;
    align-items: center;

    &.rotate:hover {
      .btn__icon {
        transform: rotate(90deg);
        bottom: 6px;
        right: -2rem;
      }
    }

    &.rotate .btn__icon {
      transition: all 0.25s ease;
      position: absolute;
      right: -1.5rem;
      bottom: -1px;
    }
  }

  &.btn-primary {
    @include button-variant(
      $background: $primary,
      $border: $primary,
      $color: $white,
      $hover-background: lighten($primary, 2.5%),
      $hover-border: $white,
      $hover-color: $light
    );
  }

  &.btn-secondary {
    @include button-variant(
      $background: $secondary,
      $border: $secondary,
      $color: $white,
      $hover-background: lighten($secondary, 2.5%),
      $hover-border: $white,
      $hover-color: $light
    );
  }

  &.btn-info {
    @include button-variant(
      $background: $info,
      $border: $info,
      $color: $white,
      $hover-background: lighten($info, 2.5%),
      $hover-border: $white,
      $hover-color: $light
    );
  }
}