#comments {
  .comment {
    @extend .mb-4;
  }

  .comment-list {
    @extend .list-unstyled;
    @extend .p-0;

    .children {
      @extend .list-unstyled;

      .comment-body {
        @extend .col-12;
        @extend .col-xl-6;
        @extend .ms-5;
        border-left: 3px solid $dark;
      }
    }

    .comment-body {
      @extend .card;
      @extend .card-body;
      @extend .mb-3;
      @extend .col-12;
      @extend .col-xl-6;
    }
  }

  .comment-meta {
    @extend .mb-3;

    cite.author {
      @extend .me-3;
      @extend .text-primary;
      font-style: normal;
    }

    .date {
      @extend .mb-0;
      @extend .text-black-50;
      font-size: $font-size-sm;
    }
  }

  .comments-title {
    @extend .d-none;
  }

  #reply-title {
    @extend .text-dark;
    @extend .mb-3;
  }
}
