.input-style {
  display: block;
  padding: 0.5rem 0.75rem;
  border: 1px solid $gray-800;
  @extend .bg-light;
  @extend .fw-light;
  @extend .rounded-1;
}

textarea.input-style {
  min-height: 150px;
}