/* Spinner for infinite load posts */
@keyframes spin {
  0% { 
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner-grow {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
}

.spinner {
  &--infinite-load {
    color: rgba($dark, 0.75);
    animation: spin 1s linear infinite;
  }

  &--grow {
    animation: 1.25s linear infinite spinner-grow;
  }
}