&-options {
  width: 100%;
  display: flex;
  margin-bottom: 10px;

  @include atTiny {
    flex-direction: column;
  }

  &-icon {
    cursor: pointer;
    margin: 0 15px 0 0;
    color: $shade-black;
    line-height: 1;

    @include atMobile {
      margin-bottom: 10px;
    }

    svg {
      margin-right: 3.5px;
    }

    &.active {
      color: $blue;
      font-weight: bold;
    }
  }
}
