.resume {
  @import "resume-sidebar";
  @import "resume-more-info";
  @import "resume-options";

  font-size: 15px;
  background-color: $secondary;

  &-content {
    &.pdf-friendly {
      .resume-more-info-text,
      .resume-more-info-link {
        display: none;
      }
    }

    display: flex;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &-location {
    margin: 0 0 10px 0;
  }

  &-title {
    margin-bottom: 5px;
    color: $dark;
  }

  &-main-content {
    padding: 50px 25px;
    width: 70%;
    background-color: $light;
    box-sizing: border-box;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &-section {
    margin: $spacer-small 0;
  }

  &-header {
    margin-bottom: 15px;
    color: $dark;
  }

  &-intro {
    &-list {
      list-style: none;
      padding-left: 10px;
      margin-top: 10px;

      li {
        display: flex;
        margin-bottom: 7.5px;
      }
    }

    &-icon {
      color: $primary;
      font-size: 18px;
      margin-top: 2px;
      margin-right: 7.5px;
    }
  }

  &-info {
    padding: 15px 0;
    border-top: 1px solid rgba($dark, 0.35);

    &-name {
      color: $primary;
      margin-bottom: 3.5px;
    }

    &-badge {
      margin-left: 5px;
    }

    &-title {
      font-size: 14px;
      color: $dark;
    }

    &-description {
      margin: 5px 0 0 0;
    }
  }
}
