.resume {
  &-content {
    display: flex;
  }

  &-main-content {
    padding: 50px 25px;
    width: 70%;
  }

  aside {
    background-color: $blue;
    color: $white;
    padding: 50px 25px;
    width: 30%;
  }
}
