.image-container {
  position: relative;
  background-color: $dark;
  height: 450px;
  border-radius: 0 0 3px 3px;

  @include media-breakpoint-down(lg) {
    height: auto;
  }

  @extend %image-border;

  .project-info {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    padding: 0 25px;
    transition: all 0.5s ease;
    padding-top: 7.5%;

    @include media-breakpoint-down(lg) {
      max-height: 90%;
      overflow-y: scroll;
    }

    svg {
      font-size: 1.5em;
      color: $light;
    }

    .link-text {
      margin-left: 6px;
      color: $light;
      text-decoration: underline;
    }

    .description p {
      line-height: 1.5;
      color: $light;
      margin-top: 5px;
    }

    .description-title {
      line-height: 1.35;
      margin: 15px 0 0 0;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 3px 3px;

    @include media-breakpoint-down(lg) {
      height: auto;
    }
  }

  &:hover {
    .project-info {
      opacity: 1;
    }

    img {
      opacity: 0.05;
      transition: all 0.5s ease;
    }
  }
}
