.projects-section-header {
  display: flex;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }

  .title {
    margin: 0;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  .project-select {
    display: flex;
    margin-left: 5%;

    @include media-breakpoint-down(md) {
      margin: 5% 0 0 0;
    }

    @include media-breakpoint-down(sm) {
      display: flex;
      justify-content: center;
    }

    .project-col {
      @include column-center;

      background-color: $dark;
      padding: 10px 15px;
      border-right: 1px solid rgba($light, 0.5);
      width: 75px;
      cursor: pointer;
      transition: all 0.5s ease;

      @include media-breakpoint-down(sm) {
        padding: 5px;
        background-color: transparent;
      }

      &:hover {
        background-color: $dark;
        transform: translateY(-1px);
      }

      span {
        color: $light;
        font-size: 14px;
      }

      svg {
        color: $primary;
        font-size: 1.5em;
        margin-bottom: 5px;
      }

      span,
      svg {
        @include media-breakpoint-down(sm) {
          color: $dark;
        }
      }
    }
  }
}
