.projects {
  @import "projects-header";
  @import "projects-section";

  background-color: rgba($secondary, 0.5);

  .header {
    margin: 0 0 5px 0;
    color: $dark;
  }

  .bottom-link-container {
    font-size: 1.25em;
    display: flex;
    border-top: 1px solid $dark;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    a {
      margin: 5px 0;
      margin-right: 20px;
    }

    svg {
      margin-right: 5px;
    }
  }

  .bottom-button-container {
    display: flex;
  }
}
