.projects-section {
  @import "image-overlay";
  @import "project-preview";

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0;
  border-top: 1px solid $secondary;

  .button-wrap {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    .button-container {
      width: 48%;
      margin-top: 10px;

      @include media-breakpoint-down(sm) {
        width: 100%;
      }

      .button {
        width: 100%;

        @include media-breakpoint-up(sm) {
          margin-right: 7.5px;
        }
      }
    }
  }
}
