/* General default form styles */

.label-container {
  margin-bottom: 4px;

  label {
    color: $body;
  }
}

.input-style {
  padding: 10px 10px 10px 5px;
  border: 1px solid rgba($dark, 0.05);
  border-bottom: 2px solid $primary;

  &:focus {
    outline: none;
  }
}

