.social-media,
.social-share {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;

  svg {
    color: $dark;
    font-size: 3em;
    margin: 0 15px;

    @include onHover {
      color: $light;
    }
  }
}
