#not-found {
  .icon-container {
    display: flex;
    align-items: center;

    svg {
      font-size: 3em;
      margin-left: 25px;
    }
  }

  @include allHeaders {
    margin: 0;
  }

  .link-container {
    padding-top: 10px;
    border-top: 1px solid rgba($dark, 0.2);

    ul {
      list-style: none;
      padding-left: 20px;

      li {
        margin: 12.5px 0;

        svg {
          margin-right: 5px;
        }
      }
    }
  }
}
