.template-portfolio {
  .home-hero {
    .bg-image {
      object-fit: cover;
      pointer-events: none;
      opacity: 0.05;
      filter: blur(2px);
      object-position: bottom;
    }

    canvas#snowstorm {
      @extend %absolute-fill;
      pointer-events: none;
      height: auto;
    }
  }
}

