.template-portfolio {
  .home-hero {
    canvas#snowstorm {
      @extend %absolute-fill;
      pointer-events: none;
    }

    @include media-breakpoint-down(sm) {
      justify-content: flex-start;
      height: 100%;
    }
  
    .toggle-more {
      position: absolute;
      bottom: 5vh;
      right: 0;
      width: 100%;
  
      svg {
        color: $light;
        margin-bottom: 10px;
      }
    }
  }
}
