html,
body {
  overflow-x: hidden;
}

body {
  @include font-smoothing;
  @include font("Source Sans Pro");
}

/* Headers */
@include allHeaders {
  @include font("Ubuntu");

  margin-top: 0;
}

p {
  color: $body;
  line-height: 1.5;
}

/* Various Text Elements */
a {
  text-decoration: none;
  transition: all 0.25s ease;
}

svg,
i {
  transition: all 0.5s ease;
}

button,
.button {
  @include font("Lato");
}

/* Inner Containers */
.inner-container {
  @include inner-container;
}
