/* Class Helpers */

// Flex
.hard-center {
  @include hard-center;
}

.column-center {
  @include column-center;
}

.column-v-center {
  @include column-v-center;
}

// General Helpers
.absolute-fill {
  @extend %absolute-fill;
}

.disabled {
  pointer-events: none;
  opacity: 0.2;
}

// Extra bg classes
.bg-gray-900 {
  background-color: $gray-900;
}

.bg-gray-400 {
  background-color: $gray-400;
}

.bg-gray-100 {
  background-color: $gray-100;
}

// Extra FS classes
.fs-normal {
  font-size: $font-size-base;
}

.fs-small {
  font-size: $font-size-sm;
}
