&.active {
  a {
    color: $dark;
    padding-bottom: 4.5px;

    @include media-breakpoint-up(sm) {
      border-bottom: 2px solid $dark;
    }

    @include media-breakpoint-down(sm) {
      color: $primary;
    }
  }
}
