.project-single-head {
  background-color: rgba($secondary, 0.5);
  margin-top: -25px;

  .inner-container {
    display: flex;

    @include atPortrait {
      flex-direction: column;
    }
  }

  .image-container {
    @include atPortraitAndUp {
      width: 50%;
    }

    img {
      max-width: 300px;
      margin-bottom: 10px;
    }

    .caption {
      color: $body;
      margin: 0;
    }
  }

  .list-container {
    @include atPortrait {
      margin-top: $spacer-small;
    }

    h6 {
      margin: 0 0 0 10px;
    }

    ul {
      padding-left: 12px;
      margin-top: 5px;

      @include color-bullets($primary);

      @include atPortrait {
        padding: 0;
      }
    }

    li {
      margin: 5px 0;
    }
  }
}
