.home-hero {
  .col {
    padding: 10% 5% 2.5% 5%;
    box-sizing: border-box;

    .title {
      margin-bottom: 15px;
    }

    .title,
    .description,
    a {
      color: $light;
    }

    @include atMobileAndUp {
      flex-basis: 50%;
    }

    @include atMobile {
      padding: 7.5% 5%;
    }
  }

  .layout-two-columns {
    background-color: $primary;
  }

  .left-column {
    background-color: darken($primary, 3%);

    @include atMobileAndUp {
      padding-right: 10%;
      clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
    }
  }
}
