.testimonials .testimonials-container {
  @import "body";

  .slick-slide {
    box-sizing: border-box;
    padding: 0 5px;

    @include media-breakpoint-up(sm) {
      padding: 20px;
      height: 400px;
    }

    > div,
    .testimonial {
      height: 100%;
    }

    .body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .inner-content p {
      @include media-breakpoint-up(sm) {
        height: 130px;
        overflow: auto;
        overflow-x: auto;

        @include scrollbar($primary, 6px);
      }
    }
  }
}
