/* General styles shared across blogs, projects, and so on */

.entry-content {
  a {
    color: $primary;
    text-decoration: underline;
  }

  @include allHeaders {
    color: $primary;
    margin: 35px 0 10px 0;

    a {
      text-decoration: none;
    }
  }

  p,
  li {
    %excerpt-text {
      margin-top: 0;
      color: $body;
      line-height: 1.5;
      font-size: 1em;
    
      @include atMobile {
        line-height: 1.4;
      }
    }
  }

  ul {
    @include color-bullets($primary);

    padding-left: 10px;
    margin-top: 5px;

    li,
    li a {
      color: $dark;
      font-size: 1.05em;
    }

    li {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  strong {
    font-size: 1.1em;
    color: $dark;
  }
}
